name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    uses: ./.github/workflows/semantic-release.yml
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
    with:
      install-deps: false
      semantic-release-command: "npx semantic-release"
